<h1><%= bits_page_title %></h1>

<% form_tag search_bits_path, :method=>:get do%>
  Search for Bits: <%= text_field_tag :search %>
  <%= submit_tag "Find" %>
<% end %>
  <div>
    <% unless @tags.nil?  %>
    Tags used in below list<br>
    <% for tag in @tags  %>
            <%= link_to tag.name, "" %>
      <% end %>
    <% end %>
  </div>

<table>
  </tr>
  <% for bit in @bits %>
    <tr>
      <td>
        <%= bit.user.full_name+": " if current_user == @user %>
        <%= link_to h(bit.title), bit %>
        <br>
        <%= bit.created_at_formatted %>          
      </td>
    </tr>
    <tr>
      <td><pre><%=  bit.list_formatted_content %></pre></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "New Bit", new_bit_path %></p>
