<table>
  <tr>
    <th><%= logged_in? ? "My" : "All"%> Bits</th>
  </tr>
  <% for bit in @bits %>
    <tr>
      <td><%= link_to h(bit.title), bit %></td>
    </tr>
    <tr>
      <td><pre><%=  bit.list_formatted_content %></pre></td>
    </tr>
  <% end %>
</table>


<div id="right_side">
  <% if logged_in? %>
    <%= render :partial => 'followings' %>
    <%= render :partial => 'followers' %>
  <% else %>
    <%= render :partial => 'sign_in' %>
  <% end %>
</div>

<p><%= link_to "New Bit", new_bit_path %></p>
