<h1><%= bits_page_title %></h1>

<div id="tag_list">
  <% unless @tags.nil?  %>
    Tags used in below list<br>
    <% for tag in @tags  %>
      <%= link_to tag.name, tagged_bit_path(tag.name) %>
    <% end %>
  <% end %>
</div>
<hr>
<table>
  <tr>
  <% for bit in @bits %>
    <tr>
      <td>
        <span id="bit_owner"><%= bit.user.full_name.capitalize+"'s: " if current_user == @user %></span>
        <span id="bit_title"><%= link_to h(bit.title), bit %></span>
        <span id="bit_info">
          Tags :<% bit.tags.each do |tag_me| %>
            <%= link_to tag_me.name, tagged_bit_path(tag_me.name) %>
          <% end %>
        </span>
        <span id="bit_date"><%= bit.created_at_formatted %></span>  
      </td>
    </tr>
    <tr>
      <td>
        <pre>
          
  <%=  bit.list_formatted_content %>
        </pre>
      </td>
    </tr>
    <tr>
      <td>
      </td>
    </tr>
  <% end %>
</table>

