<table>
  <tr>
    <th>
      <% if logged_in? %>
        <%= current_user == @user ? "My" : @user.full_name %>
      <% else %>
        All
      <% end %>
      Bits
    </th>
  </tr>
  <% for bit in @bits %>
    <tr>
      <td>
        <%= bit.user.full_name+": " if current_user == @user %>
        <%= link_to h(bit.title), bit %>
        <br>
        <%= bit.created_at_formatted %>          
      </td>
    </tr>
    <tr>
      <td><pre><%=  bit.list_formatted_content %></pre></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "New Bit", new_bit_path %></p>
