<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title><%= controller.controller_name.titlecase << " | " << controller.action_name %></title>
  <%= stylesheet_link_tag 'main' %>
  <%= javascript_include_tag :defaults, :cache => true %>
</head>
<body>

<div id="header">
  <%= image_tag('bittags_logo.jpg', {:border => 0}) %>
</div>
<div id="login_details">
  <%= show_login_details %>
</div>

<div id="content">
  <p style="color: green"><%= flash[:notice] %></p>
  <%= yield  %>
</div>

<div id="right_side">
  <% if logged_in? %>
    <%= render :partial => 'bits/followings' %>
    <%= render :partial => 'bits/followers' %>
  <% else %>
    <%= render :partial => 'bits/top_bits' %>
  <% end %>
</div>

</body>
</html>
